body{
    background-color: lightblue;
    background-image: linear-gradient(to bottom right,#6495ED ,#836FFF);
}

img{
    background-image: url("..\Exe04 - BiografiaCSS\Foto perfil.jpeg");
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-style: solid;
    border-width: 1px;
    border-radius: 250px;

}

h1{
    color: rgb(27, 30, 32);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 40px;
}

p{
    color: rgb(255,255,255);
    text-align: justify;
}
