body{
    background-color: lightblue;
    background-image: url("..\Exe04 - BiografiaCSS\Foto perfil.jpeg");
    background-repeat: no-repeat;
    background-position: right top;

}

h1{
    color: slategrey;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 40px;
}
