body{
    background-color: lightblue;
    background-image: url("..\Exe04 - BiografiaCSS\Foto perfil.jpeg");
}

h1{
    color: slategrey;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 40px;
}
